.header{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 60px);
    border-bottom: 1px solid gray;
}

.logo-container{
    margin-top: 8px;
}

.logo{
    height: 55px;
}


.search-bar{
    height: 70px;

}

.three-icon-container{
    grid-column: 9 / -1

}
.icons{
    height: 50px;
}

.catagories,.settings{
    display: flex;
    color: gray;
}
.catagories{
    grid-column: 2 / 4;
}
.catagories>div:first-child, .settings>div:first-child{
    color: #1A73E8;
    font-weight:bold;
    border-bottom: solid 2px #1A73E8;
}
.catagory, .setting{
    margin-left: 10px;
    font-style: bold;
}
.settings{
    grid-column: 4 / 8;
}

.link{
    color: green;
    font-size: 12px;

}
h3{
    color: #1a0dab;
    font-weight: 500;
}
.description{
    color: gray;
    font-size: 12px;
    font-weight: 500;
}
.main{
    display: grid;
    grid-template-columns: 1fr [content-start] 3fr [content-end] 2fr;
}

.search-container{
    grid-column: content-start / content-end;

    display: flex;

    flex-direction: column
}

ul{
    list-style: none;
}
.search-results{
    color: #1a0dab;
    font-size: 14px;
    font-weight: bold;
}

.more-pages{
    height:80px;
    display: block;
    margin: auto;
}

footer{
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    padding-left: 200px;
    color: gray;
}
strong{
    color: black;
}
.address{
    margin: atuo;
}
.last-stuff{
    list-style-type: none;
    margin-right: 20px
}
ul{
    margin-left: -40px;
}
footer ul li{
    margin-right: 20px;
    display: inline
}
footer ul li a{
    text-decoration: none;
    font-size: 13px;
    color: gray;
}
